<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Jonathan's Blog{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css?{{ build_id }}" />
    <link rel="icon" href="/static/imgs/favicon.ico?{{ build_id }}" />
    <link
      rel="alternate"
      type="application/atom+xml"
      title="Atom"
      href="/feed"
    />
    {% block header %} {% endblock %}
  </head>
  <body>
    <header>
      <h1><a href="/">Jonathan's Blog</a></h1>
      <nav>
        <a href="/">Home</a>
        <a href="/posts">Archive</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/search">Search</a>
      </nav>
    </header>
    {% block content %} {% endblock %}

    <footer>
      <p>&copy; 2022-{{ now() | date(format="%Y") }}</p>
    </footer>
  </body>
</html>
