{% extends "base.html" %} {% block content %}
<main>
  <h2>Recent Posts</h2>
  <ul>
    {% for post in posts %}
    <li>
      {% if post.content_type == "Link" %}
        {% include "partial/link.html" %}
        <p><a href="/post/{{ post.id }}">Permalink</a></p>
      {% elif post.content_type == "Post" %}
        {% set is_index = true %}
        {% include "partial/post.html" %}
      {% elif post.content_type == "Quote" %}
        {% include "partial/quote.html" %}
        <p><a href="/post/{{ post.id }}">Permalink</a></p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</main>
{% endblock %}
