{% macro post(post, is_index=false) %}
<article>
  {% if is_index %}
  <h1><a href="/post/{{ post.id }}">{{ post.title }}</a></h1>
  {% else %}
  <h1>{{ post.title }}</h1>
  {% endif %}
  <p><small>Published on {{ post.date }}</small></p>
  {% if post.tags and post.tags | length > 0 %}
  <div class="tags">
      <span>Tags: </span>
      {% for tag in post.tags %}
        <a href="/search?q=tag%3A{{ tag | urlencode }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
  </div>
  {% endif %}
  <div>{{ post.content|safe }}</div>
</article>
{% endmacro post %}

{% macro link(post) %}
<article>
  {% if post.title %}
  <a href="{{ post.link }}">{{ post.title }}</a>
  {% else %}
  <a href="{{ post.link }}">{{ post.link }}</a>
  {% endif %} {% if post.via %} (<a href="{{ post.via }}">via</a>) {%
  endif %}
  <p><small>Published on {{ post.date }}</small></p>
  {% if post.tags and post.tags | length > 0 %}
  <div class="tags">
      <span>Tags: </span>
      {% for tag in post.tags %}
        <a href="/search?q=tag%3A{{ tag | urlencode }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
  </div>
  {% endif %}
  <div>{{ post.content|safe }}</div>
</article>
{% endmacro link %}

{% macro quote(post) %}
<article>
  <p><small>Published on {{ post.date }}</small></p>
  {% if post.tags and post.tags | length > 0 %}
  <div class="tags">
      <span>Tags: </span>
      {% for tag in post.tags %}
        <a href="/search?q=tag%3A{{ tag | urlencode }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {% endfor %}
  </div>
  {% endif %}
  <blockquote>
    {{ post.content }}
    <footer>{{ post.quote_author|display_some }}</footer>
  </blockquote>
</article>
{% endmacro quote %}

{% macro commits(post) %}
<details>
  <summary>Changes</summary>
  {% if post.real_commits %}
  <ul>
    {% for commit in post.real_commits %}
    <li>
      <p><b>{{ commit.subject }}</b></p>
      <p><small>{{ commit.id }} {{ commit.date }}</small></p>
      {% if commit.body %}
      <p>{{ commit.body }}</p>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</details>
{% endif %}
{% endmacro commits %}

{% macro render_post(post, is_index=false, show_permalink=false, show_commits=false, show_related=false) %}
  {% if post.content_type == "Post" %}
    {{ self::post(post=post, is_index=is_index) }}
  {% elif post.content_type == "Link" %}
    {{ self::link(post=post) }}
    {% if show_permalink %}<p><a href="/post/{{ post.id }}">Permalink</a></p>{% endif %}
  {% elif post.content_type == "Quote" %}
    {{ self::quote(post=post) }}
    {% if show_permalink %}<p><a href="/post/{{ post.id }}">Permalink</a></p>{% endif %}
  {% endif %}

  {% if not is_index %}
    <hr>
  {% endif %}

  {% if show_commits %}
    {{ self::commits(post=post) }}
  {% endif %}

  {% if show_related and post.related_posts %}
  <br>
  <section class="related-posts">
    <h3>Related Posts</h3>
    {{ self::summary_list(summaries=post.related_posts) }}
  </section>
  {% endif %}
{% endmacro render_post %}

{% macro summary_list(summaries) %}
  <ul class="summary-list">
    {% for post in summaries %}
      {{ self::summary_item(post=post) }}
    {% endfor %}
  </ul>
{% endmacro summary_list %}

{% macro summary_item(post) %}
  <li class="summary-item">
    <div class="summary-title">
      {% if post.content_type == 'Link' %}
        <a href="{{ post.link | safe }}">{{ post.title | default(value="Link") }} &rarr;</a>
      {% else %}
        <a href="/post/{{ post.id }}">{{ post.title | default(value="Untitled") }}</a>
      {% endif %}
    </div>
    <div class="summary-post-meta">
      <time datetime="{{ post.date }}">{{ post.date }}</time>
      {% if post.content_type == 'Link' or post.content_type == 'Quote' %}
        &middot;
        <a href="/post/{{ post.id }}">permalink</a>
      {% endif %}
      {% if post.content_type == 'Quote' and post.quote_author %}
        &middot; from {{ post.quote_author }}
      {% endif %}
      {% if post.via %}
        &middot; (<a href="{{ post.via | safe }}">via</a>)
      {% endif %}
    </div>
  </li>
{% endmacro summary_item %}
