{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<main>
  <h2>All Posts</h2>
  <ul>
  {% for post in posts %}
  <li>
    {{ macros::render_post(post=post, is_index=true, show_permalink=true) }}
  </li>
  {% endfor %}
  </ul>

  {% if total_pages > 0 %}
  <div class="pagination">
      {% if current_page > 1 %}
          <a href="/posts?page={{ current_page - 1 }}">&laquo; Previous</a>
      {% endif %}

      <span>Page {{ current_page }} of {{ total_pages }}</span>

      {% if current_page < total_pages %}
          <a href="/posts?page={{ current_page + 1 }}">Next &raquo;</a>
      {% endif %}
  </div>
  {% endif %}
</main>
{% endblock content %}
